*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html:focus-within {
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    margin-inline: auto;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url("..//webprog1/img/SandVape\ backg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navigation {
    width: 100%;
    padding: 10px 0 10px 0;
}
.navigation .box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 90%;
    z-index: 1;
}
.navigation .box-navigation .box:nth-child(1) h1 {
    font-size: 34px;
    color: #FCF1B6;
}
.navigation .box-navigation .box:nth-child(2) ul{
    display: flex;
    flex-direction: row;
}
.navigation .box-navigation .box:nth-child(2) ul li {
    list-style: none;
    margin-left: 40px;
}
.navigation .box-navigation .box:nth-child(2) ul li a {
    text-decoration: none;
    color: #FCF1B6;
    transition: all 0.3s ease;
}
.navigation .box-navigation .box:nth-child(2) ul li a:hover {
    color: darkcyan;
}
.navigation .box-navigation .box:nth-child(3) {
    display: none;
}
.navigation .box-navigation .box:nth-child(2) ul li i{
    display: none;
}
/* vaping style */
header .vaping{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
header .vaping h1{
    color: #FCF1B6;
    font-size: 50px;
    text-align: center;
}
.slides {
    width: 100%;
    position: relative;
}
.slides .slide {
    display: none;
}
.slides .slide img {
    width: 100%;
    animation-name: fade;
    animation-duration: 1s;
}
.slides .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slides .navigation .prev, .slides .navigation .next{   
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: 0.6s ease;
}
.slides .navigation .prev:hover, .slides .navigation .next:hover {
    background: rgba(0, 0, 0, 1);
}
@keyframes fade {
    from{opacity: 0,3}
    to {opacity: 1}
}
/* history style */
.history{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
}
.history .box-history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.history .box-history .box:nth-child(1) {
    padding-right: 20px;
}
.history .box-history .box:nth-child(1) h1 {
    font-size: 43px;
    margin-bottom: 20px;
    color: #303030;
}
.history .box-history .box:nth-child(1) p {
    line-height: 2;
    font-size: 1rem;
}
.history .box-history .box:nth-child(2) video {
    position: relative;
    display: flex;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.video-container {
  position: relative;
}

/* product style */
.product {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(114, 132, 114, 0.997);
}
.product h2 {
    font-size: 43px;
    color: #303030;
}
.product p {
    margin-top: 2rem;
    text-align: center;
    font-weight: 100;
    max-width: 30rem;
    margin: auto;
    line-height: 1.6;
}
.product .row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    padding: 1em 1em;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}
.product .row .product-card{
    text-align: center;
}
.product .row .product-card .product-card-img{
    width: 100%;
    padding: auto;
    border-radius: 10%;
}
.product .row .product-card .product-card-title, .product-card-price {
    margin-top: 1.5rem auto 1rem;
    font-size: 1rem;
}
.product .row .product-card a {
    position: relative;
}
.product .row .product-card a .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: all 0.2s ease;
}
.product .row a:hover .bg-img {
    transform: scaleY(1);
    opacity: 1;
}

/* contact style */
.contact {
    padding: 8rem 7% 1,4rem;
}
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.contact h2 span {
    color: #303030;
}
.contact p {
    margin-top: 2rem;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}
.contact .row {
    display: flex;
    margin-top: 2rem;
}
.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form i {
    display: flex;
    font-size: 1.5rem;
    width: 60px;
    height: 30px;
    transform: translateY(0,50%);
}
.contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: rgba(114, 132, 114, 0.997);
    border: 1px solid #FCF1B6;
    padding-left: 2rem;
}
.contact .row form .input-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: black
}
.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    background: none;
    color: white;
    background-color: rgba(114, 132, 114, 0.997);
    border: 1px solid white;
    cursor: pointer;
}
/* wa */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.whatsapp-icon:hover {
    background-color: #128C7E;
}
/* wa */

/* footer style*/
footer {
    background-color: rgba(114, 132, 114, 0.997);
    text-align: center;
    padding: 1rem 0 1rem;
    margin-top: 1rem;
}
footer .socials {
    padding: 1rem 0;
}
footer .socials a {
    color: #fff;
    margin: 1rem;
    font-size: 2rem;
}
footer .socials a:hover {
    color: darkcyan;
}
footer .credit {
    font-size: 1rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
    .history .box-history .box:nth-child(2) img {
        width: 430px;
    }
    .product {
        padding-top: 50px;
    }
    .contact {
        padding-top: 50px;  
    }
    }
@media screen and (max-width: 990px) {
    .navigation .box-navigation .box:nth-child(2) {
        display: flex;
        position: absolute;
        top: 40px;
        right: 40px;
        background-color: white;
        width: 150px;
        border-radius: 10px;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .navigation .box-navigation .menu-navigation.menu-active {
        opacity: 1;
        top: 20px; 
    }
    .navigation .box-navigation .box:nth-child(2) ul {
        flex-direction: column;
    }
    .navigation .box-navigation .box:nth-child(2) ul li {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        margin-left: 0;
    }
    .navigation .box-navigation .box:nth-child(2) ul li i {
        margin-inline: 10px;
        font-size: 24px;
        display: inline-block;
    }
    .navigation .box-navigation .box:nth-child(2) ul li a {
        color: black;
    }
    .navigation .box-navigation .box:nth-child(3) {
        display: flex;
        align-items: center;
    }
    .navigation .box:nth-child(3) i {
        font-size: 35px;
        height: 300px;
        font-weight: bold;
    }
    header .vaping h1{
        font-size: 34px;
    }
    .history .box-history {
        flex-direction: column-reverse;
    }
    .history .box-history .box:nth-child(1) {
        text-align: center;
        margin-top: 30px;
        padding-right: 0;
        font-size: 12px;
    }
    .history .box-history .box:nth-child(2) img {
        width: 350px;
    }
    .slides .navigation .prev, .slides .navigation .next{
        font-size: 18px;
        padding: 13px;
    }
}
@media screen and (max-width: 768px) {
    header .vaping h1 {
        font-size: 25px;
    }
    .history .box-history {
        flex-direction: column-reverse;
    }
    .history .box-history .box:nth-child(1) {
        text-align: center;
        margin-top: 15px;
        padding-right: 0;
    }
    .history .box-history .box:nth-child(2) img {
        width: 250px;
    }
    .product {
        padding-top: 50px;
    }
    .product .box-product .box:nth-child(1) {
        width: 100%;
    }
    .contact .row {
        flex-wrap: wrap;
    }
    .contact .row .map {
        height: 30rem;
    }
    .contact .row form {
        padding-top: 0;
    }
}
@media screen and (max-width: 575px) {
    .history .box-history .box:nth-child(1) h1 {
        font-size: 30px;
    }
    .history .box-history .box:nth-child(2) img {
        width: 230px;
    }
    .history .box-history .box:nth-child(1) p {
        font-size: 12px;
    }
    .product .row .product-card{
        flex-wrap: wrap;
        display: grid;
    }
    .product h2 {
        font-size: 30px;
    }
    .product p {
        font-size: 12px;
    }
    .contact h2 span {
        font-size: 30px;
    }
    .contact p {
        font-size: 12px;
    }
}
@media screen and (max-width: 475px) {
    .history .box-history .box:nth-child(1) h1 {
        font-size: 20px;
    }
    .history .box-history .box:nth-child(2) img {
        width: 220px;
    }
    .history .box-history .box:nth-child(1) p {
        font-size: 12px;
    }
    .product h2{
        font-size: 20px;
    }
    .product p {
        font-size: 15px;
    }
    .contact p{
        font-size: 12px;
    }
}
@media screen and (max-width: 375px) {
    .history .box-history .box:nth-child(1) h1 {
        font-size: 25px;
    }
    .history .box-history .box:nth-child(2) img {
        width: 200px;
    }
    .history .box-history .box:nth-child(1) p {
        font-size: 12px;
    }
    .product h2{
        font-size: 25px;
    }
    .product p{
        font-size: 12px;
    }
    .contact h2 span {
        font-size: 25px;
    }
    .contact p {
        font-size: 12px;
    }
}
